[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/wilrojasdev/N64ModernRuntime
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/wilrojasdev/rt64.git
[submodule "lib/bk-decomp"]
	path = lib/bk-decomp
	url = https://gitlab.com/banjo.decomp/banjo-kazooie
[submodule "BanjoRecompSyms"]
	path = BanjoRecompSyms
	url = https://github.com/BanjoRecomp/BanjoRecompSyms
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/wilrojasdev/RecompFrontend
[submodule "lib/coopnet"]
	path = lib/coopnet
	url = https://github.com/wilrojasdev/coopnet.git
